####################################################
# The default docker image the jobs initialize with.
# By default, use the latest production image.
# This image can be overriden by job-specific images.
# https://docs.gitlab.com/ee/ci/yaml/README.html#image
####################################################
image: $CI_REGISTRY_IMAGE:production

####################################################
# Cache sf and sfdx modules between jobs.
# https://docs.gitlab.com/ee/ci/yaml/README.html#cache
####################################################
cache:
  key: ${CI_COMMIT_REF_NAME}
  paths:
    - .sf/
    - .sfdx/

####################################################
# Include external and local pipeline files for better organization.
####################################################
include:
  - project: sre/gitlab-templates
    ref: v4
    file:
      - functions/grafana/deployment-annotation/deployment-annotation.yml
  - local: '.gitlab/workflows/base-templates.yml'
  - local: '.gitlab/workflows/core-jobs.yml'
  - local: '.gitlab/workflows/test-quality-jobs.yml'
  - local: '.gitlab/workflows/maintenance-pipeline.yml'
  # Org-specific job definitions
  - local: '.gitlab/workflows/orgs/dev.yml'
  - local: '.gitlab/workflows/orgs/fullqa.yml'
  - local: '.gitlab/workflows/orgs/production.yml'

####################################################
# The sequential stages of this pipeline.
# Jobs within a stage run in parallel.
# https://docs.gitlab.com/ee/ci/yaml/README.html#stages
####################################################
stages:
  - build
  - maintenance
  - test
  - quality
  - merge
  - destroy
  - deploy

####################################################
# Global CI/CD variables.
# Any credentials are imported from the repo CI/CD variables.
####################################################
variables:
  DEPLOY_PACKAGE: "manifest/package.xml"
  DEPLOY_TIMEOUT: 240
  GT_ANNOTATION_PROJECT: it-crm
  GT_ANNOTATION_ROLE: app
  GT_ANNOTATION_SERVICE: it-business-process
  GT_ANNOTATION_REGION: us-west-2
