# Reference - https://docs.gitlab.com/ee/user/project/codeowners/

[CI/CD Owners] @mcarvin8
.forceignore
.gitattributes
.gitignore
.gitlab-ci.yml
.vscode/*
config/*
package.json
sfdx-project.json
*.py

# In this example, Bot Owners should review all updates to the Bot files
# and the `.forceignore` if you define bot versions to ignore in the file
[Bot Owners] @mcarvin8
force-app/main/default/bots/*
.forceignore
